@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Sevastopol-Interface.ttf') format('truetype');
}

:root {
  --my-font: 'MyFont';
}

body {
  font-family: var(--my-font);
}

